<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="default.css" title="Default" />
    <title>Document</title>
  </head>
  <body>
    <div id="header">
		  <a href="pictures.html"><button class="nav">Back</button></a>
	  </div>
    <input type="file" id="file-input" accept="image/*" />
    <br>
    <input type="text" id="tag-input" value="Enter Tags Here" onclick="clearField()" />
    <br>
    <a href="pictures.html"><button onclick="submitPic()" class="nav">Submit</button></a>
    <script>

      function clearField(){
        document.getElementById("tag-input").value="";
      }

      const inputFile = document.getElementById("file-input");
      function submitPic(e) {
        const tagText = document.getElementById("tag-input").value;
        const file = inputFile.files[0];
        const fileName = inputFile.files[0].name;
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
          // console.log("tagText: "+tagText);
          fetch("/store", {
            method: "POST",
            body: JSON.stringify({ image: reader.result, fileName, tagText }),
            headers: {
              "Content-Type": "application/json",
            },
          })
            // .then(async (res) => {
            //   inputFile.remove();
            //   const result = await res.json();
            //   let a = document.createElement("a");
            //   a.href = `/image/${result.id}`;
            //   a.click();
            // })
            .catch((err) => {
              console.log(err);
            });
        };
        reader.onerror = function () {
          console.log(reader.error);
        };
      };
    </script>
  </body>
</html>