<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="default.css" title="Default" />
    <title>Document</title>
  </head>
  <body>
    <div id="header">
		  <a href="pictures.html"><button class="nav">Back</button></a>
	  </div>
    <input type="file" id="file-input" accept="image/*" />
    <script>
      const inputFile = document.getElementById("file-input");
      const userID = "0";
      inputFile.onchange = function (e) {
        const file = e.target.files[0];
        const fileName = e.target.files[0].name;
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
          fetch("/store", {
            method: "POST",
            body: JSON.stringify({ userID, image: reader.result, fileName }),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then(async (res) => {
              inputFile.remove();
              const result = await res.json();
              let a = document.createElement("a");
              a.href = 'pictures.html';
              a.click();
            })
            .catch((err) => {
              console.log(err);
            });
        };
        reader.onerror = function () {
          console.log(reader.error);
        };
      };
    </script>
  </body>
</html>